
body {
	background:url(../images/background.jpg);
	background-repeat: repeat-x;
}

#container{
	width:960px;
	margin:auto;
	padding: 20px 0;
}

	.toplevel-block{
		width:900px;
		margin:auto;
	}

#header{
	height:150px;
	background:url(../images/header.jpg);
}

#nav{
	display: table;
	background:url("../images/chain navigation background.jpg");
}

	#nav ul{
		display: table-row;
	}
		#nav ul li {
			display: table-cell;
		}

		#nav ul li.left a div{

		}
		#nav ul li.center a div{
			margin: auto;
		}
		#nav ul li.right a div{
			float: right;
		}
				#nav ul li a div{
					width: 225px;
					height: 100px;
				}

				#nav ul li a:hover div, #nav ul li a:focus div{
					background-position: 0 -100px;
				}

				#education a div{
					background:url("../images/hover over education.gif");
				}

				#biography a div{
					background:url("../images/hover over biography.gif");
				}

				#blog a div{
					background:url("../images/hover over blog.gif");
				}

				#homepage a div{
					background:url("../images/hover over homepage.gif");
				}


		
#content{
	height:450px;
	background:url(../images/content.jpg);
}

#content.home-content
{
	height:450px;
	background:url("../images/content with image - homepage.jpg");
}

#homepage_house{
	height:50px;
	width:350px;
	margin:auto;
	position: relative;
	top: 14px;
}

#footer{
	height:100px;
	background:url(../images/footer.jpg);
}

/*
=========Home page style ============
*/

#home-sub-nav{
	padding: 0 60px;
	margin:30px 0 20px;
}

	#home-sub-nav li{
		width:32%;
		display:inline-block;
		vertical-align: top;
		text-align: center;
		position: relative;
	}

		#home-sub-nav li h3{
			padding: 10px 0;
			margin: 0 5px;
			border: 1px solid black;
			border-color: #222;
			-webkit-border-top-left-radius: 10px;
			-moz-border-top-left-radius: 10px;
			border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-top-right-radius: 10px;
			border-top-right-radius: 10px;
		}

		#home-sub-nav li div{
			background-color:#222;
			color: #fff;
			padding: 10px 10px;
			margin: 0 5px;
			border-color: #222;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
			border-bottom-left-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-bottom-right-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 252px;
			overflow: hidden;
			position: absolute;
			top: 155px;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -o-transition: all 1s ease;
		    transition: all 1s ease;
		    line-height: 20px;
		    font-size: 20px;
		}

		#home-sub-nav li h3:hover, #home-sub-nav li h3:focus{
			cursor: pointer;
			background-color: #222;
			color:#FFF;
		}

		#home-sub-nav li h3:hover + div, #home-sub-nav li h3:focus + div{
			opacity: 1;
			top: 44px;
			visibility: visible;
		}

/*
=========Home page style end============
*/
