
body { /* body style for css */
	background:url(../images/background.jpg); /* link to background image */
	background-repeat: repeat-x; /* repeat background horizontally */
}

#container{ /* container style relevant to html tags */
	width:960px; /* sets width to 960 px */
	margin:auto; /* sets position to automatically centered */
	padding: 20px 0; /* container is 20 px padding from top and bottom but 0 for right and left */
}

	.toplevel-block{ /* style relevant to its class id i.e div id ="nav" */
		width:900px;
		margin:auto;
	}

#header{
	height:150px; /* sets height to 150 px */
	background:url(../images/header.jpg);
}

#nav{
	display: table; /* display like a table element */
	background:url("../images/chain navigation background.jpg"); /* link to navigation background */
}

	#nav ul{ /* styling for nav unordered list */
		display: table-row; /* to make the element behave like a table row (across) */
	}
		#nav ul li { /* styling for nav individual lists */
			display: table-cell; /* to make element behave like a table cell (distributed evenly) */
		}

		#nav ul li.left a div{ /* position automatically left of nav box */

		}
		#nav ul li.center a div{
			margin: auto; /* center image */
		}
		#nav ul li.right a div{
			float: right; /* make image float to the right */
		}
				#nav ul li a div{
					width: 225px;
					height: 100px;
				}

				#nav ul li a:hover div, #nav ul li a:focus div{ /* when hovered over move image up 100 px */
					background-position: 0 -100px; /* moves image up 100 px */
				}

				#education a div{
					background:url("../images/hover over education.gif"); /* link to navigation image (gif) */
				}

				#biography a div{
					background:url("../images/hover over biography.gif");
				}

				#blog a div{
					background:url("../images/hover over blog.gif");
				}

				#homepage a div{
					background:url("../images/hover over homepage.gif");
				}


		
#content{
	height:450px;
	background:url(../images/content.jpg);
}

#content.home-content
{
	height:450px;
	background:url("../images/content with image - homepage.jpg");
}

.identifier-holder{
	height:50px;
	width:350px;
	margin:auto;
	position: relative; /* alows image to be moved freely by 14 px */
	top: 14px;
}

#footer{
	height:100px;
	background:url(../images/footer.jpg);
}
	#footer-wrapper{ /* makes all footer elements padding top 15 px */
		padding-top:15px;
	}

		#footer ul li{
			display:inline-block; /* makes unordered list behave like both inline and block elemnents */
			padding-top:5px;
			padding-left:3px;
			margin:5px 30px 0px 35px;
		}

			#footer ul li a{
				color: #FFFFFF;/* sets color to white */
			}

			#footer ul li a:hover{ /* when hovered sets color to blue */
				color:#0066CC; /* shade of blue */
			}


/*=========Home page style ============*/ /* to indicate home page individual styling */
#home-sub-nav{
	padding: 0 60px; /* padding 0 px top and bottom but 60 px right and left */
	margin:30px 0 20px; /* adds 30 px margin to top. adds 0 px to left anf right. adds 20 px to bottom */
}

	#home-sub-nav li{
		width:32%; /* sets width to 32 percent relevent to its containers width*/
		display:inline-block;
		vertical-align: top; /* sets word text automatically to top */
		text-align: center; /* automatically centers text */
		position: relative; /* makes position relative to position absolute */
	}

		#home-sub-nav li h3{
			padding: 10px 0;
			margin: 0 5px;
			border: 1px solid black; /* adds 1 px border */
			border-color: #222; /* adds dark grey background color to home sub nav */
			-webkit-border-top-left-radius: 10px; /* fallback for top left radius (10 px) for old chrome and safari */
			-moz-border-top-left-radius: 10px; /* fallback for top left radius (10px) for old firefox */
			border-top-left-radius: 10px; /* fallback for top left for old browsers (10 px) */
			-webkit-border-top-right-radius: 10px;
			-moz-border-top-right-radius: 10px;
			border-top-right-radius: 10px;
		}

		#home-sub-nav li div{
			background-color:#222;
			color: #fff; /* standard color is white when hovered over */
			padding: 10px 10px;
			margin: 0 5px;
			border-color: #222;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
			border-bottom-left-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-bottom-right-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 252px;
			overflow: hidden; /* excess text is hidden */
			position: absolute; /* makes position relative to its container */
			top: 155px;
			opacity: 0; /*  */
			visibility: hidden; /* hides text and colors when not hovered over */
			-webkit-transition: all 1s ease; /* fallback for safari and chrome for transition of revealing text and colors for 1 second smoothly */
		    -moz-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -o-transition: all 1s ease;
		    transition: all 1s ease;
		    line-height: 20px; /* line height is 20 px */
		    font-size: 20px; /* font size of text is 20 px */
		}

		#home-sub-nav li h3:hover, #home-sub-nav li h3:focus{
			cursor: pointer; /* when hovered over, show mouse is cursor */
			background-color: #222;
			color:#FFF;
		}

		#home-sub-nav li h3:hover + div, #home-sub-nav li h3:focus + div{
			opacity: 1;
			top: 44px;
			visibility: visible; /* when hovered over, show home sub nav styles */
		}

/*=========Home page style end============*/ /* indicates end of individual home page styling */

/*=========Blog page style============*/
	#blog_text {
		padding: 27px 50px 0;
	}

	#blog_text .blog-column{
		display: inline-block;
		width: 33%;
	}

		#blog_text .blog-column div.backgd-image{
			width: 250px;
			height: 325px;
			margin: auto;
			position: relative;
		}

		#blog_text .blog-column div.backgd-image div.text{
			display: none;
			color: #fff;
			padding: 25px;
			overflow-y: hidden; /* shows vertical excess text is hidden */
			max-height: 245px; /* sets max height to 245 px */
			text-align: center;
			line-height: 18px;
		    font-size: 16px;
		}

		#blog_text .blog-column div.backgd-image:hover, #blog_text .blog-column div.backgd-image:focus{
			background-position: 0 -325px;
		}

		#blog_text .blog-column div.backgd-image:hover div.text, #blog_text .blog-column div.backgd-image:focus div.text{
			display: block;
			position: absolute;
			top: 0;
			left: 0;

		}

		#warcraft div.backgd-image{
			background: url("../images/world of warcraft - blog.gif");
		}

		#titan div.backgd-image{
			background: url("../images/attack on titan - blog.gif");
		}

		#league div.backgd-image{
			background: url("../images/league of legends - blog.gif");
		}

/*=========Blog page style end============*/

#biography_text {
	padding: 20px 50px;
}

/*=========Education page style============*/

/*=========Education page style end============*/
#education_text {
	padding: 20px 50px;
}



